footer {
    justify-content: space-between;
    max-width: 1000px;
    margin-left: 20%;
    padding: 0.5rem;
    transform: translateY(100px);

    .info-winkels {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex: 1 1 100%;

        &__data {
            display: flex;
            flex-direction: row;
        }

        &__wil-je-ons-volgen {
            position: relative;
            left: -10px;
            top: 0px;
        }
    }
}