.navigation {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    background-color: $primary-color;
    margin-bottom: 3rem;

    #toggle-menu {
        display: none;

        &:checked+.container-navbar .menu-button {
            background-color: $primary-color;
        }

        &:checked+.container-navbar .menu-button::before {
            margin-top: 0;
            transform: rotate(405deg);
            background-color: $secondary-color;
        }

        &:checked+.container-navbar .menu-button::after {
            margin-top: 0;
            transform: rotate(-405deg);
            background-color: $secondary-color;
        }
    }

    &__container-navbar {
        display: none;
        cursor: pointer;
        height: 100%;
        width: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $primary-color;
    }

    &__menu-button,
    &__menu-button::before,
    &__menu-button::after {
        display: block;
        background-color: $secondary-color;
        position: absolute;
        height: 5px;
        width: 30px;
        transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 5px;
    }

    &__menu-button::before {
        content: '';
        margin-top: -10px;
    }

    &__menu-button::after {
        content: '';
        margin-top: 10px;
    }


}